<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h3 class="heading text-dark">Administrators</h3>
      <!-- Add Administrator Form -->
      <div class="add-form">
        <form action="/users" method="POST" class="form-inline justify-content-center">
          <div class="form-group mb-2">
            <label>Name</label>
            <input id="first-input" name="name" type="text" class="form-control">
          </div>
          <div class="form-group mx-sm-3 mb-2">
            <label>Email</label>
            <input name="username" type="email" class="form-control">
          </div>
          <div class="form-group mx-sm-3 mb-2">
            <label>Password</label>
            <input name="password" type="password" class="form-control">
          </div>
          <input type="hidden" name="url" value="<%=url%>">
          <input type="hidden" name="admin" value="true">
          <button type="submit" class="btn btn-primary mb-2">Create</button>
        </form>
      </div>
      <!-- EOF Add Administrator Form -->
      <!-- Edit Administrator Form -->
      <div id="edit-section">
        <form id="edit-form" action="/users" method="POST" class="form-inline justify-content-center">
          <div class="form-group mb-2">
            <label>Name</label>
            <input id="name" name="name" type="text" class="form-control">
          </div>
          <div class="form-group mx-sm-3 mb-2">
            <label>Email</label>
            <input id="email" name="username" type="email" class="form-control">
          </div>
          <input type="hidden" name="url" value="<%=url%>">
          <button type="submit" class="btn btn-info mb-2">Update</button>
        </form>
      </div>
      <!-- EOF Edit Administrator Form -->
      <div class="card">
        <div class="card-header card-header-info">
          <h4 class="card-title ">Administrators<span class="float-right"><i id="add-user" class="fa fa-user-plus fa-2x"></i></span></h4>
          <p class="card-category">List of Administrators</p>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class=" text-info">
                <th>
                  Name
                </th>
                <th>
                  Email
                </th>
                <th>
                  Created
                </th>
              </thead>
              <tbody>
                <% users.forEach(function(user) { -%>
                <% if (user.isAdmin) { -%>
                <tr>
                  <td>
                    <%= user.name %>
                  </td>
                  <td>
                    <%= user.email %>
                  </td>
                  <td>
                    <%= user.created %>
                  </td>
                  <td>
                    <div class="btn-group">
                      <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Action
                      </button>
                      <div class="dropdown-menu">
                        <a class="dropdown-item edit-user">Edit<span class="user-id"><%= user._id %></span></a>
                        <a class="dropdown-item" href="#">Demote</a>
                        <div class="dropdown-divider"></div>
                        <form action="/users/<%= user._id %>?method=DELETE" method="POST">
                          <input type="hidden" name="url" value="<%=url%>">
                          <button class="dropdown-item">DELETE</button>
                        </form>
                      </div>
                    </div>
                  </td>
                </tr>
                <% } -%>
                <% }) -%>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $( document ).ready(function() {
    // left navbar links
    document.querySelectorAll('.nav-list').forEach(function(link){
      if (link.id == "administrators")
        link.classList.add('active');
      else
        link.classList.remove('active');
    });
    // add administrator form
    let hidden = true;
    $('#add-user').click(function(e){
      if (hidden) {
        $('.add-form').css("display", "block");
        $('#first-input').focus();
        hidden = false;
      }
      else {
        $('#user-form').css("display", "none");
        hidden = true;
      }
    });
    // edit user form
    $('.dropdown-menu>a.edit-user').click(function(e){
      let userId = $(this).children().text();
      $.get(`/users/${userId}`, function(data){
        $('#name').val(data.name);
        $('#email').val(data.email);
        $('#edit-form').attr('action', `/users/${data._id}?method=PUT`);
        $('.add-form').css("display", "none");
        $('#edit-section').css("display", "block");
      });
    });
  });
</script>
