<div id="history">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header card-header-primary">
          <h4 class="card-title ">Session Inventory</h4>
          <p class="card-category">History</p>
        </div>
        <div class="card-body">
          <!--  -->
          <form id="filter" class="form-inline" action="/history/filter" method="GET">
            <select id="date" name="time" class="form-control" onchange="pickDate()">
              <option value="1">Last 24 hours</option>
              <option value="7">Last 7 Days</option>
              <option value="30">Last 30 Days</option>
              <option value="custom">Custom</option>
            </select>
            <!-- custom date -->
            <input class="date" type="date" name="start">
            <input class="date" type="date" name="end">
            <!--    venues-->                                     <!--ve borrandole lo onclick      ok-->
            <select id="venues" name="venues" class="form-control" onchange="resetAps()">
              <option value="all">All Venues</option>
              <option value="%Cipriani 25%">Cipriani 25</option>
              <option value="%Cipriani 55%">Cipriani 55</option>
              <option value="%Glasshouses%">Glasshouses</option>
              <option value="%Cipriani 42%" >Cipriani 42</option>
            </select>
            <!-- AP -->
            <select id="aps"name="aps" class="form-control" onchange="resetVenues()">
              <option id="allaps"value="all">All Aps</option>
              <option value="%Cipriani 25 Front Exit Sign%">Cipriani 25 Front Exit Sign</option>
              <option value="%Cipriani 25 Left Back Truss%" >Cipriani 25 Left Back Truss</option>
              <option value="%Cipriani 25 Left Front Truss%">Cipriani 25 Left Front Truss</option>
              <option value="%Cipriani 25 Right Back Truss%">Cipriani 25 Right Back Truss</option>
              <option value="%Cipriani 25 Right Front Truss%">Cipriani 25 Right Front Truss</option>
              <option value="%Cipriani 25 Stage R720%" >Cipriani 25 Stage R720</option>
              <option value="%Cipriani 42nd bridal suite%" >Cipriani 42nd bridal suite</option>
              <option value="%Cipriani 42nd Chapel%">Cipriani 42nd Chapel</option>
              <option value="Cipriani 42nd Eagles Nest%">Cipriani 42nd Eagles Nest</option>
              <option value="%Cipriani 42nd Front of house%">Cipriani 42nd Front of house</option>
              <option value="%Cipriani 42nd revolving door%" >Cipriani 42nd revolving door</option>
              <option value="%Cipriani 55 Library%">Cipriani 55 Library</option>
              <option value="%Cipriani 55 Library Catwalk%">Cipriani 55 Library Catwalk</option>
              <option value="%Cipriani 55 Mezz R720%">Cipriani 55 Mezz R720</option>
              <option value="%Cipriani 55 outside 1%">Cipriani 55 outside 1%</option>
              <option value="%Cipriani 55 outside 2%">Cipriani 55 outside 2%</option>
              <option value="%Cipriani 55 revolving door%">Cipriani 55 revolving door</option>
              <option value="%Cipriani 55 StillMan%">Cipriani 55 StillMan</option>
              <option value="%Cipriani 55 Stillman Catwalk%">Cipriani 55 Stillman Catwalk</option>
              <option value="%Cipriani 55 Vault%">Cipriani 55 Vault</option>
              <option value="%Glasshouses Center%">Glasshouses Center</option>
            </select>
            <!--All network -->
            <select name="network" class="form-control">
              <option value="" selected>All Networks</option>
            </select>
            <!--Filter by client MAC address  -->
            <input type="text" name="filter" placeholder="Filter by Client MAC Address">
            <!--  -->
            <input type="reset" value="Reset">
            <button>Apply</button>
          </form>
          <div class="table-responsive">
            <table class="table">
              <thead class=" text-primary">
                <th>
                  Start Time
                </th>
                <th>
                  End Time
                </th>
                <th>
                  Duration
                </th>
                <th>
                  Client MAC
                </th>
                <th>
                  Client Name
                </th>
                <th>
                  Hostname
                </th>
                <th style="width: 10.66%">
                  Device
                </th>
                <th>
                  OS Type
                </th>
                <th>
                  DL
                </th>
                <th>
                  Upload
                </th>
                <th>
                  AP Name
                </th>
                <th>
                  AP MAC Addressonclick="resetVenues();"
                </th>
              </thead>
              <tbody id="table-body">
                <% results.forEach(function(result){ -%>
                <tr>
                  <td>
                    <%=  moment(result.start_time).format('MM-DD-YYYY hh:mm'); %>
                  </td>
                  <td>
                    <%= moment(result.end_time).format('MM-DD-YYYY hh:mm'); %>
                  </td>
                  <td>
                    <%= result.duration %>
                  </td>
                  <td>
                    <%= result.client_mac %>
                  </td>
                  <td>
                    <%= result.client_name %>
                  </td>
                  <td>
                    <%= result.hostname %>
                  </td>
                  <td>
                    <%= result.device%>
                  </td>
                  <td>
                    <%= result.os_type %>
                  </td>
                  <td>
                    <%= result.dl %>
                  </td>
                  <td>
                    <%= result.upload %>
                  </td>
                  <td>
                    <%= result.ap_name %>
                  </td>
                  <td>
                    <%= result.ap_macaddress %>
                  </td>
                </tr>
                <% }); -%>
              </tbody>
            </table>
            <div id="display" class="text-warning" role="alert"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  function resetVenues() {
    $('#venues option').filter(function() {
      return this.textContent == 'All Venues';
    }).prop('selected', true);
  }
  function resetAps() {
    $('#aps option').filter(function() {
      return this.textContent == 'All Aps';
    }).prop('selected', true);
  }
  // CUSTOM DATE
  function pickDate() {
    let value = $('#date').val();
    if (value == "custom")
      $('.date').css('display', 'block');
    else
      $('.date').css('display', 'none');
  }
  //HIDE DATE PICKER
  function hideDatePicker() {
    $('.date').css('display', 'none');
  }
  $( document ).ready(function() {
    document.querySelectorAll('.nav-list').forEach(function(link){
      if (link.id == "history")
        link.classList.add('active');
      else
        link.classList.remove('active');
    });

    $('#filter').submit(function(e){
      e.preventDefault();
      var info = $(this).serialize();
      $('#table-body tr').remove();
      $('#display').css('display', 'block');
      $('#display').text('Loading...It may take some time.');

      $.post("/history/filter", info, function(data){
        if (data.length > 0) {
          $('#display').css('display', 'none');
          data.forEach(function(user){
            console.log(user.end_time);
            $('#table-body').append(
              `
              <tr>
                <td>
                  ${moment(user.start_time).format('MM-DD-YYYY hh:mm')}
                </td>
                <td>
                  ${moment(user.end_time).format('MM-DD-YYYY hh:mm')}
                </td>
                <td>
                  ${user.duration}
                </td>
                <td>
                  ${user.client_mac}
                </td>
                <td>
                  ${user.client_name}
                </td>
                <td>
                  ${user.hostname}
                </td>
                <td>
                  ${user.device}
                </td>
                <td>
                  ${user.os_type}
                </td>
                <td>
                  ${user.dl}
                </td>
                <td>
                  ${user.upload}
                </td>
                <td>
                  ${user.ap_name}
                </td>
                <td>
                  ${user.ap_macaddress}
                </td>
              </tr>
              `
            );
          });
        }
        else{
          $('#display').css('display', 'block');
          $('#display').text('Nothing found, please refine your search!');
        }
      });
    });


  });
</script>
